<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>주문 조회</title>
</head>
<body>
<section class="container">
    <div><h3>주문 조회</h3></div>
    <table class="table">
        <tr>
            <th>이름</th>
            <td>노영진</td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td>010-0000-0000</td>
        </tr>
        <tr>
            <th>예치금</th>
            <td>60,000</td>
        </tr>
    </table>
    <h3>배송지</h3>
    <table  class="table" id="deli_table">
        <tr>
            <th>받는사람</th>
            <td>노영진</td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td>010-0000-0000</td>
        </tr>
        <tr>
            <th>주소</th>
            <td>대구광역시 동구 화랑로</td>
        </tr>
        <tr>
            <th>배송 메세지</th>
            <td>빠른배송 부탁드립니다.</td>
        </tr>
    </table>
    <h3>배송 상품</h3>
    <table class="table">
        <thead>
        <tr>
            <th style="width: 5%;"></th>
            <th style="width: 35%;">상품명</th>
            <th style="width: 20%;">금액</th>
            <th style="width: 10%;">수량</th>
            <th style="width: 20%;">총 금액</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1. </td>
            <td>텐트</td>
            <td>20,000원</td>
            <td>2</td>
            <td>40,000원</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:right; border-right:hidden;">총 금액</td>
            <td colspan="2" id="cartTotalPrice" style="text-align:right; border-left:hidden;">40,000원
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>