<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/delivery.css">
    <title>배송/결제</title>
</head>
<body>
<section class="container">
    <form action="/item/delevery_proc" method="post">
    <h3>주문</h3>
    <table  class="table">
        <tr>
            <th>이름</th>
            <td th:text="${memList.name}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="|${memList.tel1}-${memList.tel2}-${memList.tel3}|"></td>
        </tr>
    </table>
    <h3>배송지</h3>
    <table  class="table" id="deli_table">
        <tr>
            <th>받는사람</th>
            <td>
                <input type="text" name="deliName">
            </td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td>
                <input type="text" name="tel1" style="width: 50px;">
                -
                <input type="text" name="tel2" style="width: 50px;">
                -
                <input type="text" name="tel3" style="width: 50px;">
            </td>
        </tr>
        <tr>
            <th>주소</th>
            <td>
                <div>
                <input type="text" name="add1" id="sample6_postcode" placeholder="우편번호" >
                <input type="button" onclick="sample6_execDaumPostcode()" class="btn btn-outline-secondary btn-sm" value="우편번호 찾기">
                </div>
                <div>
                <input type="text" name="add2" id="sample6_address" placeholder="주소" style="width: 350px;">
                </div>
                <div>
                <input type="text" name="add3" id="sample6_detailAddress" placeholder="상세주소">
                <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                </div>
            </td>
        </tr>
        <tr>
            <th>배송 메세지</th>
            <td><textarea name="deliveryContent"></textarea></td>
        </tr>
    </table>
    <h3>배송 상품</h3>
    <table  class="table">
        <thead>
        <tr>
            <th style="width: 5%;"></th>
            <th style="width: 35%;">상품명</th>
            <th style="width: 20%;">금액</th>
            <th style="width: 10%;">수량</th>
            <th style="width: 20%;">총 금액</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartList, cartListStat : ${cartList}">
            <td>
                <span th:text="${cartListStat.count}"></span>
                <input type="hidden" name="itemIdx" th:value="${cartList.item_idx}">
                <input type="hidden" name="cartIdx" th:value="${cartList.idx}">
            </td>
            <td>
                <div th:each="fileName: ${cartList.storedFileName}"><img th:src="@{|/thumbnail/${fileName}|}" alt="" style="width:50px; align: left;"></div>
                <div th:text="${cartList.item_name}"></div>
            </td>
            <td>
                <span th:text="${#numbers.formatInteger(cartList.item_price, '0', 'COMMA')}+'원'"></span>
                <input type="hidden" name="itemPrice" th:value="${cartList.item_price}">
            </td>
            <td>
                <span th:text="${cartList.item_quantity}"></span>
                <input type="hidden" name="quantity" th:value="${cartList.item_quantity}">
            </td>
            <td>
                <span class="price" th:text="${#numbers.formatInteger(cartList.item_price * cartList.item_quantity, 0, 'COMMA')}+'원'"></span>
                <input type="hidden" name="totalPrice" th:value="${cartList.item_price * cartList.item_quantity}">
            </td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:right; border-right:hidden;">총 금액</td>
            <td colspan="2" id="cartTotalPrice" style="text-align:right; border-left:hidden;">0원
            </td>
        </tr>
        </tbody>
    </table>
    <h3>결제 금액</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>결제 금액</th>
            <td id="cartTotalPrice2" style="text-align:right">0원</td>
        </tr>
        <tr>
        <th >결제 수단</th>
        <td>
            <div id="payment-method"></div>
            <div id="agreement"></div>
        </td>
        </tr>
        </tbody>
    </table>
        <div class="cash"><button class="btn btn-outline-secondary btn-sm" type="submit">결제</button></div>
    </form>
</section>
</body>
<script>
    var price = document.getElementsByClassName("price");
    var sum = 0;
        for(var i=0; i<price.length; i++)
        {
            sum += parseInt(price[i].innerText.replace(/,/g, ''))
        }
    let cartSum = sum.toLocaleString('ko-KR');
    document.getElementById("cartTotalPrice").innerText = cartSum;
    document.getElementById("cartTotalPrice2").innerText = cartSum;

</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
<script src="https://js.tosspayments.com/v1/payment-widget"></script>
<script>
    const clientKey = 'test_ck_D5GePWvyJnrK0W0k6q8gLzN97Eoq' // 상점을 특정하는 키
    const customerKey = 'YbX2HuSlsC9uVJW6NMRMj' // 결제 고객을 특정하는 키
    const amount = 15_000 // 결제 금액

    /*결제위젯 영역 렌더링*/
    const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제 초기화
    // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS) // 비회원 결제 초기화
    paymentMethods = paymentWidget.renderPaymentMethods('#payment-method', amount)

    /*약관 영역 렌더링*/
    const paymentAgreement = paymentWidget.renderAgreement('#agreement')
</script>
</html>