<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout_admin}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>제품 목록</title>
</head>
<body>
<section class="container">
    <div><h3>상품 목록</h3></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 10%;">번호</th>
            <th style="width: 30%;">상품명</th>
            <th style="width: 15%;">상품 금액</th>
            <th style="width: 10%;">수량</th>
            <th style="width: 25%;">등록 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list, listStat : ${list}">
            <td th:text="${listStat.count}" style="vertical-align:middle;"></td>
            <td style="vertical-align:middle;">
                <div th:each = "fileName: ${list.storedFileName}"><a th:href="@{|/admin/item_view/${list.idx}|}"><img th:src="@{|/thumbnail/${fileName}|}" alt=""></a></div>
                <div><a th:href="@{|/admin/item_view/${list.idx}|}">[[${list.item_name}]]</a></div>
            </td>
            <!--<td><a th:href="@{|/admin/item_view/${list.idx}|}">[[${list.item_name}]]</a></td>-->
            <td th:text="${#numbers.formatInteger(list.item_price, 0, 'COMMA')}" style="vertical-align:middle;"></td>
            <td th:text="${list.item_quantity}" style="vertical-align:middle;"></td>
            <td th:text="${#temporals.format(list.regdate, 'yyyy-MM-dd')}" style="vertical-align:middle;"></td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${#lists.isEmpty(list.getContent())}">
        <div aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="@{/admin/item_list(page=1)}">
                        <span aria-hidden="true">◀</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="${list.first} ? '#' : @{/admin/item_list(page=${list.number})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" ><a class="page-link" href="#" th:if="${page == list.number + 1}"  th:text="${page}"></a></li>
                    <li class="page-item" ><a class="page-link" th:if="${page != list.number + 1} and ${page != 0}" th:href="@{/admin/item_list(page=${page})}" th:text="${page}"></a></li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:href="${list.last} ? '#' : @{/admin/item_list(page=${list.number + 2})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:href="@{/admin/item_list(page=${list.totalPages})}">
                        <span aria-hidden="true">▶</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>