<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/admin_top.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <title>회원 목록</title>
</head>
<body>
<div th:replace="~{inc/admin_top}"></div>
<section>
    <div><h3>회원 목록</h3></div>
    <table border="1">
        <tr>
            <th style="width: 10%;">번호</th>
            <th style="width: 30%;">아이디</th>
            <th style="width: 30%;">이름</th>
            <th style="width: 30%;">가입 날짜</th>
        </tr>
        <tr th:each="list : ${list}">
            <td>[[${list.idx}]]</td>
            <td><a th:href="@{|/admin/mem_view/${list.idx}|}">[[${list.userid}]]</a></td>
            <td th:text="${list.name}"></td>
            <td th:text="${#temporals.format(list.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>
    <!-- 첫번째 페이지로 이동 -->
    <!-- /board/paging?page=1 -->
    <a th:href="@{/admin/mem_list(page=1)}">◀</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
    <a th:href="${list.first} ? '#' : @{/admin/mem_list(page=${list.number})}"><</a>

    <!-- 페이지 번호 링크(현재 페이지는 숫자만)  for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
    <!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == list.number + 1}" th:text="${page}"></span>
    <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:unless="${page == list.number + 1}">
        <a th:href="@{/admin/mem_list(page=${page})}" th:text="${page}"></a>
    </span>
    </span>
    <!-- 다음 링크 활성화 비활성화 사용자: 2페이지, getNumber: 1, 3페이지-->
    <a th:href="${list.last} ? '#' : @{/admin/mem_list(page=${list.number + 2})}">></a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/admin/mem_list(page=${list.totalPages})}">▶</a>
</section>
<div th:replace="~{inc/footer}"></div>
</body>
</html>