<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout_admin}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <title>회원 목록</title>
</head>
<body>
<section class="container">
    <div><h3>회원 목록</h3></div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 10%;">번호</th>
            <th style="width: 30%;">아이디</th>
            <th style="width: 30%;">이름</th>
            <th style="width: 30%;">가입 날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list : ${list}">
            <td>[[${list.idx}]]</td>
            <td><a th:href="@{|/admin/mem_view/${list.idx}|}">[[${list.userid}]]</a></td>
            <td th:text="${list.name}"></td>
            <td th:text="${#temporals.format(list.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${#lists.isEmpty(list.getContent())}">
        <div aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="@{/admin/mem_list(page=1)}">
                        <span aria-hidden="true">◀</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="${list.first} ? '#' : @{/admin/mem_list(page=${list.number})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" ><a class="page-link" href="#" th:if="${page == list.number + 1}"  th:text="${page}"></a></li>
                    <li class="page-item" ><a class="page-link" th:if="${page != list.number + 1} and ${page != 0}" th:href="@{/admin/admin_list(page=${page})}" th:text="${page}"></a></li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:href="${list.last} ? '#' : @{/admin/mem_list(page=${list.number + 2})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:href="@{/admin/mem_list(page=${list.totalPages})}">
                        <span aria-hidden="true">▶</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</body>
</html>