<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/top.css">
    <link rel="stylesheet" type="text/css" href="/css/notice_write.css">
    <title>글 작성</title>
</head>
<body>
<div th:replace="~{inc/top}"></div>
<section>
    <div><h3>리뷰 작성</h3></div>
    <table>
        <tr>
            <th>작성자</th>
            <td><input type="text" style="width: 400px;"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="number" style="width: 400px;"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea style="width: 400px; height: 300px;"></textarea></td>
        </tr>
        <tr>
            <th>제품 사진</th>
            <td><input type="file"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" value="제품 등록">
                <input type="reset" value="다시 쓰기">
            </td>
        </tr>
    </table>
</section>
<div th:replace="~{inc/footer}"></div>
</body>
</html>