<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/top.css">
    <link rel="stylesheet" type="text/css" href="/css/mem_item_list.css">
    <title>상품 목록</title>
</head>
<body>
<div th:replace="~{inc/top}"></div>
<section>
    <div><h3>상품 목록</h3></div>
    <div id="item_list">
        <div th:if="${#lists.isEmpty(list.getContent())}">입력된 상품이 없습니다.</div>
        <div th:each="list, listStat : ${list}">
            <a th:href="@{|/member/item_view/${list.idx}|}">
                <div th:each = "fileName: ${list.storedFileName}"><img th:src="@{|/thumbnail/${fileName}|}" alt=""></div>
                <div>[[${list.item_name}]]</div>
                <div th:text="${#numbers.formatInteger(list.item_price, 0, 'COMMA')}+'원'"></div>
            </a>
        </div>
    </div>
    <div th:unless="${#lists.isEmpty(list.getContent())}">
    <!-- 첫번째 페이지로 이동 -->
    <!-- /board/paging?page=1 -->
    <a th:if="${startPage} != 1" th:href="@{/member/item_list/{idx}(idx=${category_idx}, page=1)}">◀</a>
    <!-- 이전 링크 활성화 비활성화 -->
    <!-- boardList.getNumber() 사용자:2페이지 getNumber()=1 -->
    <a th:href="${list.first} ? '#' : @{/member/item_list/{idx}(idx=${category_idx}, page=${list.number})}"><</a>

    <!-- 페이지 번호 링크(현재 페이지는 숫자만)  for(int page=startPage; page<=endPage; page++)-->
    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
    <!-- 현재페이지는 링크 없이 숫자만 -->
    <span th:if="${page == list.number + 1}" th:text="${page}"></span>
        <!-- 현재페이지 번호가 아닌 다른 페이지번호에는 링크를 보여줌 -->
    <span th:if="${page != list.number + 1} and ${page != 0}">
        <a th:href="@{/member/item_list/{idx}(idx=${category_idx}, page=${page})}" th:text="${page}"></a>
    </span>
    </span>
    <!-- 다음 링크 활성화 비활성화 사용자: 2페이지, getNumber: 1, 3페이지-->
    <a th:href="${list.last} ? '#' : @{/member/item_list/{idx}(idx=${category_idx}, page=${list.number + 2})}">></a>
    <!-- 마지막 페이지로 이동 -->
    <a th:href="@{/member/item_list/{idx}(idx=${category_idx}, page=${list.totalPages})}">▶</a>
    </div>
</section>
<div th:replace="~{inc/footer}"></div>
</body>
</html>