<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="signin.css" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
<section class="form-signin">
    <form action="/login_proc" method="post">
        <h1 class="h3 mb-3 fw-normal">로그인</h1>
        <div class="form-floating">
            <input type="text" name="userid" class="form-control" id="floatingInput" placeholder="아이디">
            <label for="floatingInput">아이디</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="비밀번호">
            <label for="floatingPassword">비밀번호</label>
        </div>
        <button class="btn btn-outline-secondary" type="submit">로그인</button>
    </form>
    <div style="margin: 20px 0 30px 0;">
        <button class="btn btn-outline-light" type="button"><img src="/images/naver_logo.png" alt="" style="width: 30px;"></button>
        <button class="btn btn-outline-light" type="button"><img src="/images/google_logo.png" alt="" style="width: 30px;"></button>
    </div>
</section>
</body>
</html>