<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="signin.css" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
<section class="form-signin">
    <form action="/login_proc" method="post">
        <div id="login">
            <div><b>아이디</b></div>
            <div class="form-floating">
                <input type="text" name="userid" class="form-control" style="height: 10px;" placeholder="아이디">
            </div>
            <div><b>비밀번호</b></div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" style="height: 10px;" placeholder="비밀번호">
            </div>
        </div>
        <button class="btn btn-outline-secondary" type="submit">Sign in</button>
    </form>
    <div id="item">
        <a href="mem_write">회원가입</a> ㅣ
        <a href="">아이디 찾기</a> ㅣ
        <a href="">비밀번호 찾기</a>
    </div>
</section>
</body>
</html>