body{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
#top1{
    margin: 0 auto;
    text-align: right;
}
#top2{
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
}
#top3{
    margin: auto;
}
nav{
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid black;
    height: 45px;
}
#nav{
    margin: auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
}
footer{
    border-top: 1px solid black;
}