
table{
    margin: 0 auto;
    align: center;
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
}
table tr th{
    text-align: center;
    width: 30%;
}
.deli_table{
    text-align: left;
}
.cash{
    align: center;
    padding: 30px 0 30px 0;

}