<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      layout:fragment="Content"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>홈</title>
</head>
<body>
<section class="container">
    <div>
        <img src="/images/home.png" style="width: 1000px; margin: 5px auto auto auto;">
    </div>
    <div id="notice1">
        <div id="notice2">
            상품사용후기
            <ul>
                <li>사용사용</li>
            </ul>
        </div>
        <div id="notice3">
            공지사항
            <ul>
                <li>공지공지</li>
            </ul>
        </div>
    </div>
    <div id="item">
        <div><h3>신제품</h3></div>
        <div id="item_list">
            <div th:each="list, listStat : ${itemList}">
                <a class="card" style="width: 16rem;" th:href="@{|/member/item_view/${list.idx}|}">
                    <div th:each = "fileName: ${list.storedFileName.get(0)}"><img class="card-img-top" th:src="@{|/thumbnail/${fileName}|}" alt="" style="height: 200px;"></div>
                    <div class="card-body">
                        <div>[[${list.item_name}]]</div>
                        <div th:text="${#numbers.formatInteger(list.item_price, 0, 'COMMA')}+'원'"></div>
                    </div>
                </a>
            </div>
        </div>
        <div id="itemBnt"><input type="button" class="btn btn-outline-secondary btn-sm" value="상품 더보기"></div>
    </div>
</section>
</body>
</html>